# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.infra/
aws/


# Terraform
**/.terraform/
**/terraform.tfstate*
**/crash.log
**/.terraform.lock.hcl

# OS/IDE
.DS_Store
.vscode/
.idea/
workspaces/
hi.md
server.log
