fastapi
uvicorn
python-dotenv
jinja2
pydantic>=2
requests>=2.31.0
apscheduler>=3.10.4
boto3>=1.28.0
cryptography>=41.0.0
paramiko>=3.0.0
python-socketio>=5.9.0
python-engineio>=4.5.0
python-multipart>=0.0.6
